// ==========================================================================//
//
// Page Layout
//
// ==========================================================================//

.top {
  width: 100%;

  &__title-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  &__title {
    text-align: center;
    color: #fff;
    letter-spacing: 0.08em;
    font-size: 4.8rem;
  }

  &__text {
    margin-top: 12px;
    color: #fff;
    font-size: 1.4rem;
  }

  &__images {
    position: absolute;
    left: 10%;
    
  }

}
