//ブレイクポイント
$breakPointList: 767px, 768px;

//メディアクエリ
$mq-breakpoints: (
  'xsmall': 320px,
  'small' : 600px,
  'medium': 768px,
  'large' : 1024px,
  'xlarge': 1280px,
);

@mixin mq($breakpoint: medium) {
  @media screen and (max-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

//画像格納ディレクトリ
$imgDir: '/img/';

//PCレイアウト時の最小横幅
$minPcContentWidth: 1000px;

//サイトで使用するカラー
$colors: #027744, #e43d60;