//- Specify layout template.
extends layouts/_layout

//- Declarations
block title
  title Web Studio EGG. | Portfolio

//- Following are contents of inner body.
block content
  .top
    .bg
      .bg__line
      .bg__line
      .bg__line

    .top__title-wrap
      h1.top__title Web Studio EGG.
      p.top__text dummytextdummytextdummytextdummytextdummytextdummytextdummytextdummytextdummytext.
    .top__images