.top {
  position: relative;
  width: 100%;

  &__bg {
    background-color: #9aa1ae;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      right: -580px;
      color: #fff;
      margin: 0 auto;
      height: 1000px;
      background-color: #404456;
      transform: rotate(-60deg) translate3d(0, 0, 0);
      width: 1200px;
    }
  }

  &__title-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  &__title {
    text-align: center;
    color: #fff;
    letter-spacing: 0.08em;
    font-size: 4.8rem;
  }

  &__text {
    margin-top: 12px;
    color: #fff;
    font-size: 1.4rem;
  }

  &__images {
    position: absolute;
    left: 10%;
    
  }

}